@import '../../styles/variables';

.app {
  font-family: 'Ubuntu', sans-serif;
  background-color: $color__orange;
  height: 100vh;
}

.appTitle {
  color: white;
  padding: 8px;
  padding-left: 16px;
  font-size: 1.5rem;
}

.listContainer {
  display: flex;
  flex-direction: row;
}
