@import '../../styles/variables';

.app {
  font-family: Arial, sans-serif;
  background-color: $color__orange;
  height: 100vh;
}

.appTitle {
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.listContainer {
  display: flex;
  flex-direction: row;
}
