.listButton {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.cardButton {
  opacity: 0.5;
  color: inherit;
  background-color: inherit;
}

.buttonGroup {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  height: 36px;
  max-width: 300px;
  padding-left: 10px;
}
