@import '../../styles/variables';

.container {
  background-color: $color__grey;
  border-radius: 3px;
  width: 300px;
  padding: 8px;
  margin: 8px;
  margin-right: 0;
  height: 100%;

  &:last-child {
    margin-right: 8px;
  }
}
