@import '../../styles';

.container {
  @include trelloList;
  margin-right: 0.5rem;

  &:first-child {
    margin-left: 0.5rem;
  }
}

.title {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
